@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Domain Register</h1>
    <p class="lead">The Domain Register stores renewal, company, and file handler information for each domain.</p>
    <p><a href=@Url.Action("About", "Home") class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Domains</h2>
        <p>The client company domains can be found here.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Domains")>Domains &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Companies</h2>
        <p>The client companies can be found here.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Companies")>Companies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>File Handlers</h2>
        <p>The Company File Handlers can be found here.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Handlers")>File Handlers &raquo;</a></p>
    </div>
</div>